* {margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth;}
        a {color: inherit; text-decoration: none; display: block;}
        #container {width: 100%; margin: 0 auto;}
        ul {list-style: none;}
        #up {margin-top: 50px; background: none; border: none; z-index: 10000; 
              position: fixed; bottom: 70px; right: 50px; color: white;}
        #down {margin-top: 50px; background: none; border: none; z-index: 10000;
              position: fixed; bottom: 35px; right: 50px; color: white;}

        /* ------------------------------------------------------------------------------------- */
        header {width: 100%; margin: 0 auto; position: fixed; display: block; z-index: 10;}
        #header1 {width: 100%; padding: 3px; background: black; color: white; display: flex;}
        #header1>.component {position: relative; display: flex; height: 27px; padding: 3px; overflow: hidden;
                             width: 40%; margin: 0 auto;}
        #header1>.component>i {position: absolute; padding: 5px;}
        #header1>.component>#headerText>p {position: absolute; left: 50%; margin-left: -70px;}
        #header1>.component>.fa-chevron-left {left: 0px;}
        #header1>.component>.fa-chevron-right {right: 20px;}
        #header1>#count {width: 40%; display: flex; justify-content: center;
                         margin-right: 3%; font-size: 12px; margin: 5px 0 0 0;}
        /* ----header2--------------------------------------------------------------------------------- */
        #header2 {width: 100%;  padding: 5px;}
        #header2>#logo {float: left; margin-left: 5%; position: absolute;}
        #header2>#rightBar {width: 100%; float: right; margin-right: 2%; position: relative;}
        #login {position: absolute; top: 10px; right: 0; }
        #login>input {position: absolute; top: 3px ; left: -200px; border: #ccc; border-radius: 10px; 
                      padding: 5px 10px; opacity: 0.7; }
        #login>ul {display: flex;}
        #login>ul>li {margin: 5px; font-size: 14px;}
        #login>ul>li:hover {opacity: 0.5;}
        .fa-magnifying-glass:hover {opacity: 0.5;}

        #category {position: absolute; top: 70px; left: 50%; margin-left: -135px;
                  font-size: 20px; font-weight: bold; cursor: pointer;}
        #category>ul {display: flex;}
        #category>ul>li {margin: 0 10px; width: 100%;}
            /* category*/
        .category1>ul {position: fixed; top: 150px; left: 0px; width: 100%; 
                       padding: 20px;  background: rgba(255, 255, 255, 0.7);}
            /* category_style */
                        .style>ul {height: 250px; display: flex; justify-content: center;}
                        .style>ul>li {padding: 10px 20px; text-align: center; opacity: 0.7; margin: 0 20px;}
                        .style>ul li img {opacity: 0.7; transition: 0.5s;}
                        .style ul li:hover img {opacity: 1; transform: scale(1.1);}
                        .style>ul>li:hover {opacity: 1;}  
            /* category_men */    .subBar {width: 900px; margin: 0 auto;} /*men+women*/
                        .men>ul {height: 310px; font-size: 17px; padding: 20px 5px; }
                        .menSub {padding: 0px 20px; transition: 0.5s; text-align: center; margin: 10px auto; 
                                 float: left; }
                        .menSub>h4 {margin-bottom: 7px;}
                        .menSub>h4:hover {opacity: 0.7;}  
                        .menSub:nth-child(3) {margin-right: 52px;}
                        .menSub:nth-child(6) {clear: both; margin-left: 180px; margin-top: -95px;}
                        .menSub:nth-child(7) {clear: both; margin-left: 330px; margin-top: -100px;}
                        .menSub>ul>li {font-size: 16px; padding: 3px; font-weight:normal}  
                        .menSub>ul>li:hover { color: #ff0000;}  
            /* category_women */
                        .women>ul {height: 340px; font-size: 17px; padding: 20px 5px; }
                        .womenSub {padding: 0px 20px; transition: 0.5s; text-align: center; margin: 10px auto; 
                                   float: left; }
                        .womenSub>h4 {margin-bottom: 7px;}
                        .womenSub>h4:hover {opacity: 0.7;}  
                        .womenSub:nth-child(3) {margin-right: 52px;}
                        .womenSub:nth-child(6) {clear: both; margin-left: 180px; margin-top: -115px;}
                        .womenSub:nth-child(7) {clear: both; margin-left: 330px; margin-top: -120px;}
                        .womenSub>ul>li {font-size: 16px; padding: 3px; font-weight:normal}  
                        .womenSub>ul>li:hover { color: #ff0000;}  
            /* category_explore */
                        .explore>ul {height: 310px; font-size: 17px; padding: 20px 5px; 
                                     display: flex; justify-content: center; }
                        .exploreSub {padding: 0px 20px; transition: 0.5s; text-align: center; margin: 10px; 
                                     width: 30%;}
                        .exploreSub>h4 {margin-bottom: 7px;}
                        .exploreSub>h4:hover {opacity: 0.7;}  
                        .exploreSub>ul>li {font-size: 16px; padding: 3px; font-weight:normal}  
                        .exploreSub>ul>li:hover { color: #ff0000;}  

        /* ----main_intro--------------------------------------------------------------------------------- */
        main {width: 100%; padding-top: 27px;}
        #intro {width: 100%; height: 1100px; position: relative; 
                background: url(../redesign_img/hiking.jpg) no-repeat center;
                background-size: cover; }
        #introText {width: 100%; position: absolute; top: 20%; text-align: center; 
                    padding: 10px; color: black;}
        #introText>h1 {font-size: 100px; }
        #introText>h4 {font-size: 25px; }
        /* ----main2_brand--------------------------------------------------------------------------------- */
        #brand {width: 100%; height: 1200px; position: relative; 
               background: url(../redesign_img/bag.jpg) no-repeat center; 
               background-size: cover; }
        #brand>h1 {font-size: 60px; padding: 30px 0px 15px; position: absolute; top: 50%; 
                   margin: -185px 0; color: white; z-index: 100;}
        #brandText {width: 750px; height: 350px; position: absolute; top: 50%; margin: -110px 0; background-color: rgba(255, 0, 0, 0.5);
                    padding: 60px 0; color: white;}
        #brandText>h3 {font-size: 20px; padding: 0 10px;}
        #brandText>p {font-size: 15px; padding: 10px 30px 50px 10px;}
        #brandText>p>span {font-size: 16px; font-weight: bold; }
        #brandText>p:nth-child(3) {position: absolute; right: 5px; bottom: -20px; cursor: pointer;}
        #brandText>p:nth-child(3):hover {font-weight: bold;}

        #model {width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1000;
               background: rgba(0, 0, 0, 0.5);}
        #modelText {width: 650px; background: white; text-align: center; height: 700px; padding: 30px; overflow: scroll;
                   position: relative; top: 50%; margin-top: -350px; left: 50%; margin-left: -325px;}
        #modelText>img {margin: 10px;}
        #modelText>h3 {margin: 30px 10px 10px ; font-size: 30px; color: #e20909; text-align: left;}
        #modelText>p {line-height: 25px; font-size: 15px; text-align: left; padding: 10px;}
        #modelText>hr {margin: 20px 0;}
        #modelText>#bt1 {position: absolute; top: 30px; right: 30px; background: none; 
                         border: none; font-size: 20px;}
        #modelText>#bt2 {margin: 20px; padding: 3px 5px;}
        #modelText>button:hover {font-weight: bold;}

        /* ----main2_introduce--------------------------------------------------------------------------------- */
        #introduce {width: 100%; height: 1200px; position: relative; overflow: hidden;}
        #introduce>#bg>video {object-fit: cover; height: 1200px; width: 100%; z-index: -1;
                              position: absolute; top: 0; left: 0;}
        #introduce>#bg>img {object-fit: cover; width: 100%; height: 100%;  z-index: -1; position: absolute;}
        
        #introduceImg {width: 500px; position: absolute; top: 33%; left: 17%; z-index: 200;}
        #introduceImg>img {width: 450px; z-index: 5;}
        #introduceImg>h3 {position: absolute; top: 195px; left: 150px;}
        #introduceImg>p {transition: 1s; position: absolute; color: white; cursor: pointer;
                         font-weight: bold; font-size: 20px;}
        #introduceImg>p:nth-child(3) {top: 90px; left: 65px; padding: 15px;}
        #introduceImg>p:nth-child(4) {top: 290px; left: 50px; padding: 5px;}
        #introduceImg>p:nth-child(5) {top: 395px; left: 182px; padding: 5px; }
        #introduceImg>p:nth-child(6) {top: 290px; left: 340px; padding: 5px; }
        #introduceImg>p:nth-child(7) {top: 98px; left: 320px; padding: 5px; }

        #introduceText {color: white; width: 700px; position: absolute; top: 40%; left: 50%;}

        /* ----main3_product--------------------------------------------------------------------------------- */
         #product {width: 100%; height: 1010px; position: relative; display: flex; }
         #product>div>a {height: 100%;}
         #product1 {width: 100%; height: 1000px; margin: 5px; background: url(../redesign_img/product_1.jpg) no-repeat center;}
         #product2 {width: 100%; height: 1000px; margin: 5px; background: url(../redesign_img/product_2.jpg) no-repeat center;}
         #product3 {width: 100%; height: 1000px; margin: 5px; background: url(../redesign_img/product_3.jpg) no-repeat center;}
         .productText {width: 90%; height: 90%; background: rgba(0, 0, 0, 0.5); margin: 7% auto; 
                       display: none;}
        .productText>h4 {color: white; font-size: 25px; text-align: center; animation: pd 1s infinite;
                         padding-top: 400px;}
            @keyframes pd {
                0% {}
                50% {text-shadow: 0 0 10px white;}
                100% {}
            }
 
        /* ----footer--------------------------------------------------------------------------------- */
         footer {width: 100%; height: 300px; background-color: black; display: flex; 
                align-items: center; justify-content: space-between;
                opacity: 0.8; color: #ccc;}
         #footerText1 {padding: 0 15px; width: 65%;}
         #footerText1>h3 {padding: 0px 5px 15px 5px; font-size: 45px; }
         #footerText1>p {padding: 5px; font-size: 14px; line-height: 20px;}
         
         #footerText2 {font-size: 14px; padding: 0 15px; width: 35%;}
         #footerText2>ul {display: flex; justify-content: space-around; padding: 15px;}
         #footerText2>ul>li {padding: 5px; cursor: pointer;}
         #footerText2>ul>li:hover {font-weight: bold;}
         #footerText2>h4 {line-height: 20px; font-size: 15px; padding: 5px;}
         #footerText2>p {line-height: 20px; padding: 5px;}


/* ---------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:1600px) {   
        #introduceImg {width: 500px; position: absolute; top: 33%; left: 12%; z-index: 200;}
        #introduceText {color: white; width: 650px; position: absolute; top: 40%; left: 50%;}

}

@media screen and (max-width:1400px) {   
    #introduceImg {width: 500px; position: absolute; top: 33%; left: 5%; z-index: 200;}
    #introduceText {color: white; width: 550px; position: absolute; top: 37%; left: 50%;}

    #footerText2 {font-size: 12px; padding: 0 15px; width: 40%;}

}

@media screen and (max-width:1150px) {   
    #introduceImg {width: 500px; position: absolute; top: 13%; left: 50%;
                  margin-left: -250px; z-index: 200; text-align: center;}
    
    #introduceText {color: white; width: 600px; position: absolute; top: 50%; left: 50%;
                   margin-left: -300px;}
   
    
    #introduceImg>img {width: 400px; z-index: 5;}
    #introduceImg>h3 {position: absolute; top: 165px; left: 175px;}
    #introduceImg>p {transition: 1s; position: absolute; color: white; cursor: pointer;
                     font-weight: bold; font-size: 18px;}
    #introduceImg>p:nth-child(3) {top: 80px; left: 95px; padding: 15px;}
    #introduceImg>p:nth-child(4) {top: 250px; left: 80px; padding: 15px;}
    #introduceImg>p:nth-child(5) {top: 345px; left: 200px; padding: 15px; }
    #introduceImg>p:nth-child(6) {top: 250px; left: 350px; padding: 15px; }
    #introduceImg>p:nth-child(7) {top: 80px; left: 330px; padding: 15px; }

    #footerText2 {width: 50%;}

}

@media screen and (max-width:800px) {   
    #brand {width: 100%; height: 1200px; position: relative; 
               background: url(../redesign_img/bag.jpg) no-repeat center; 
               background-size: cover; }
    #brand>h1 {font-size: 45px; padding: 30px 0px 15px; position: absolute; top: 41%; 
               margin: -185px 0; color: white; z-index: 100;}
    #brandText {width: 520px; height: 470px; position: absolute; top: 40%; margin: -110px 0; background-color: rgba(255, 0, 0, 0.5);
                padding: 60px 0; color: white;}
    #brandText>h3 {font-size: 20px; padding: 0 10px;}
    #brandText>p {font-size: 15px; padding: 10px 30px 50px 10px;}
    #brandText>p>span {font-size: 16px; font-weight: bold; }
    #brandText>p:nth-child(3) {position: absolute; right: 5px; bottom: -20px; cursor: pointer;}
    #brandText>p:nth-child(3):hover {font-weight: bold;}


    #introduceImg {width: 500px; position: absolute; top: 13%; left: 50%;
                  margin-left: -250px; z-index: 200; text-align: center;}
    
    #introduceText {color: white; width: 600px; position: absolute; top: 50%; left: 50%;
                   margin-left: -300px;}
   
    
    #introduceImg>img {width: 400px; z-index: 5;}
    #introduceImg>h3 {position: absolute; top: 165px; left: 175px;}
    #introduceImg>p {transition: 1s; position: absolute; color: white; cursor: pointer;
                     font-weight: bold; font-size: 18px;}
    #introduceImg>p:nth-child(3) {top: 80px; left: 95px; padding: 15px;}
    #introduceImg>p:nth-child(4) {top: 250px; left: 80px; padding: 15px;}
    #introduceImg>p:nth-child(5) {top: 345px; left: 200px; padding: 15px; }
    #introduceImg>p:nth-child(6) {top: 250px; left: 350px; padding: 15px; }
    #introduceImg>p:nth-child(7) {top: 80px; left: 330px; padding: 15px; }

    footer {width: 100%; height: 500px; background-color: black; display: flex;
            flex-flow: wrap; opacity: 0.8; color: #ccc;}
    #footerText1 {padding: 0 15px; width: 100%;}
    #footerText1>h3 {padding: 0px 5px 15px 5px; font-size: 35px; }
    #footerText1>p {padding: 5px; font-size: 14px; line-height: 20px;}
    
    #footerText2 {font-size: 14px; padding: 0 15px; width: 100%;}
    #footerText2>ul {display: flex; justify-content: space-around; padding: 15px;
                     width: 400px;}
    #footerText2>ul>li {padding: 5px; cursor: pointer;}
    #footerText2>ul>li:hover {font-weight: bold;}
    #footerText2>h4 {line-height: 20px; font-size: 15px; padding: 5px;}
    #footerText2>p {line-height: 20px; padding: 5px;}


    
}

@media screen and (max-width:700px) {   
    #product {width: 100%; height: 2150px; position: relative; display: flex; flex-flow: wrap;}
    #product>div>a {height: 100%;}
    #product1 {width: 100%; height: 700px; margin: 5px; background: url(../redesign_img/product_1.jpg) no-repeat center;}
    #product2 {width: 100%; height: 700px; margin: 5px; background: url(../redesign_img/product_2.jpg) no-repeat center;}
    #product3 {width: 100%; height: 700px; margin: 5px; background: url(../redesign_img/product_3.jpg) no-repeat center;}
    .productText {width: 90%; height: 90%; background: rgba(0, 0, 0, 0.5); margin: 7% auto; 
                  display: none;}
    .productText>h4 {color: white; font-size: 25px; text-align: center; animation: pd 1s infinite;
                    padding-top: 300px;}
       @keyframes pd {
           0% {}
           50% {text-shadow: 0 0 10px white;}
           100% {}
       }
}