* {margin: 0; padding: 0; box-sizing: border-box;}
body {background: url(img/waves_-_71122\ \(1440p\).mp4);}
a {color: inherit;
   text-decoration: none;}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

/*header ------------------------------------------------*/
header {width: 100%; height: 500px;
background: url(../img/img2.jpg) no-repeat center;
background-size: cover;
border: 1px solid white;
}

#backimg {height: 100px; 
background-color: rgba(114, 136, 198, 0.5);
justify-content: space-between; display: flex;
position: fixed; top: 0; width: 100%;
}
#img {width: 100px;
 margin: 17px;
 margin-left: 20px;
 }
#img:hover {opacity: 0.5;}

#menu {width: 70%; }
#menu>ul {list-style: none;
          display: flex;
        }
#menu>ul>li { width: 200px;
   margin: 25px 0;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
#menu>ul>p {padding: 5px;
            width: 130px;
            margin: 35px 30px;
            font-size: 13px;}
#menu>ul>p:hover {font-weight: bold;}

span {margin: 35px 0;
      font-weight: bold;}
#menu>ul>li:hover {color: #6b6868;;}
span:hover {color: #ccc;}    
          
          
#text {text-align: center;
       margin: 170px auto; 
    }
     #text>p {font-size: 230%;}
     #text>h1 {font-size: 70px;
               color: rgb(255, 255, 255);}
#bar {display: none;}


/*main ------------------------------------------------*/
main {width: 90%;
margin: 0 auto;}
h3 {width: 100%; height: 50px;
    padding: 10px;
    margin: 20px 0;
    border-bottom: 3px solid rgb(133, 133, 236);}
h4 {padding: 10px;
width: 300px;
border-bottom: 2px solid black;}
#teach>ul {padding: 10px;}
#teach>li {padding: 5px;}
#teach>p {padding: 10px;
line-height: 30px;}

#teach {width: 90%;
margin: 20px auto;}
#time1 {width: 90%;
margin: 50px auto;}
#time2 {width: 90%;
margin: 50px auto;}

table, tr, td, th {border: 1px solid #ccc;          
            text-align: center;
          padding: 10px;}
th {background-color: rgb(114, 136, 198);;}

table {width: 100%;
border-collapse: collapse;}

#lastbox {width: 90%;
margin: 0 auto;}
#nav {display: flex;
justify-content: space-evenly;}
.box {width: 30%;
margin: 30px 0 70px;}
.box img {max-width: 100%;
  height: 200px;}
.box h4 {border: none;}
.box:hover {text-decoration: underline;}



/*footer ------------------------------------------------*/

footer {width: 100%; height: 80px; 
background-color: rgb(114, 136, 198);}
footer ul {width: 75%;
       margin: 0 auto;
       display: flex;
       list-style: none;
       padding: 25px;}
       footer>ul>li {text-align: center;
                     margin: 5px;
                     color: #ccc;
                     width: 250px;
                     font-size: 12px;
                     font-weight: bold;
                     padding-right: 10px;
                     border-right: 1px solid #ccc;}
a:hover {color: white;}




@media screen and (max-width: 950px) {
#text>p {font-size: 200%;}
#text>h1 {font-size: 60px;
    color: rgb(255, 255, 255);}


#menu>ul>li { width: 170px;
    margin: 25px 0;
    text-align: center;
    font-weight: bold;
}
#menu>ul>p {padding: 5px;
            width: 130px;
            margin: 35px 30px;
            font-size: 13px;}
#menu>ul>p:hover {font-weight: bold;}

span {margin: 40px 0;
      font-weight: bold;}
#menu>ul>li:hover {color: #6b6868;;}
span:hover {color: #ccc;} 
}


@media screen and (max-width: 670px) {

#menu { position: fixed; top: 0; right: 0;
          list-style: none; background: white;
          width: 250px; height: 100vh; display: none;}
#bar {position: fixed; display: block;top: 40px; right: 30px;
      z-index: 10;}
#bar:hover {opacity: 0.5;}

#menu>ul {display: block; margin-top: 50px;
        }
#menu>ul>li { width: 250px;
             background: white;
             padding: 25px;
             text-align: center;
             font-weight: bold;
}
#menu>ul>p {padding: 5px 10px;
           width: 250px; text-align: center;
            margin: 25px 20px 0 0;
            color: black;
            font-size: 13px;}
#menu>ul>p:hover {font-weight: bold;}

span {padding: 27px; width: 250px; text-align: center;
    font-weight: bold;}
}

@media screen and (max-width: 500px) {
#lastbox {width: 90%;
margin: 0 auto;}
#nav {display: flex;
flex-flow: column;
justify-content: center;}
.box {width: 100%;
margin: 30px 0 70px;}
.box img {max-width: 100%;
  height: 200px;}
.box h4 {border: none;}
.box:hover {text-decoration: underline;}
footer ul {width: 100%;}
footer>ul>li {width: 200px; font-size: 11px; margin: 0px;}

}